
@{
    ViewBag.Title = "Map";
}

<h2>Sijaintimme kartalla</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1984.7292503792!2d24.942203615554632!3d60.16866095048452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920bcc2276aaab%3A0x3dc0f0b89e84e4c2!2sAleksanterinkatu%2048!5e0!3m2!1sen!2sfi!4v1630924439057!5m2!1sen!2sfi" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
